@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../img/background.png");
  background-size: cover;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 45px;
  width: 45px;
  border-bottom: 4px solid #013236;
  border-right: 4px solid #013236;

  position: relative; /* Fixing Corner Border */

  display: flex;
  align-items: center;
  justify-content: center;
}

.first-col {
  border-left: 4px solid #013236;
}

.first-row {
  border-top: 4px solid #013236;
}

.bottomRightCorner::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background: #013236;
}

.top-margin {
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  color: #013236;
  margin: -29px 10px 20px 10px;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1rem;
  font-weight: 500;
}

.title {
  position: absolute;
  left: 15px;
  top: 20px;
  color: #035f50;
  font-family: "Chewy", cursive;
  font-size: larger;
  font-weight: 400;
}

.generate-maze {
  padding: 7px 10px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  background-color: rgb(248, 253, 187);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.generate-maze:hover,
.checkbox:hover {
  border: 1px solid #013236;
}

.visualize-maze {
  background-color: rgb(248, 253, 187);
  border-top-left-radius: 20px;
  padding: 7px 10px;
}

.checkbox {
  background-color: rgb(248, 253, 187);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 3px;
  cursor: pointer;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  position: absolute;
  animation: fly 3s linear forwards;
  color: #e7273f;
  z-index: 1;
}

@keyframes fly {
  to {
    transform: translateY(-50px);
  }
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(248, 253, 187);
  color:#035f50;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -2px;
  top: 40px;
  padding: 8px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
