@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	height: 100vh;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
    background-image: url('../img/background.png');
	background-size: cover; 
}

.navbar {
	display: flex;
	justify-content: center;
	color: #013236;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 1.2rem;
}

.nav-item {
	padding: 7px 10px;
    margin-top: 10px; 
	margin-right: 20px;
	cursor: pointer;
	background-color: rgb(248,253,187);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.nav-item:hover {
	border: 3px solid #013236;

}

.container {
    background-color: rgba(243,252,187, 0.5);
    position: relative;
    height: 85vh;
    margin: 20px auto;
    width: 90%;
}

.character {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    /* left: 40px; */
}

.tree {
    position: absolute;
    left: 780px;
    bottom: 0;
}

.block {
    width: 48px;
    background-color: #6b5b95;
    position: absolute;
    left: 50px;

    border: 2px solid #035F50;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    transition: 0.2s all ease;
}

.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.block2 {
    width: 48px;
    background-color: darkgray;
    position: absolute;
    transition: 0.2s all ease;
    bottom: 0;
    left: 50px;
    border-right: 2px solid #035F50;
    border-left: 2px solid #035F50;
    border-bottom: 2px solid #035F50; 
}

.block_id3 {
    position: absolute;
    color: black;
    margin-top: 1px;
    width: 100%;
    text-align: center;
}

#count {
    height: 20px;
    width: 598px;
    margin: auto;
}